
html {
    width:100vw;
    height: 100vh;
    font-size:62.5%;
    overflow-x: hiden;
    scroll-behavior: smooth;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    border:none;
    text-decoration: none;
    background:rgb(226, 153, 177);
}

    .slider-item img {
        width: 30%;
    }
    .container{
        display: flex;
        flex-direction: row;
        border-radius: 100px;
        background-color:#df7453;
        width: 50%;
        height: 50%;
        align-items: center;             
    }
       
    .slider{
        overflow: center;
    
    }
    .slider > .slider-content{
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        transition: all 500ms ease;
    
    }
    
    .slider > .slider-content > .slider-item {
        flex: 0 0 auto;
        width: 100%;
    }
    
    .slider > input:nth-child(1):checked ~ .slider-content{
        transform: translateX(0%);
    }
    
    .slider > input:nth-child(2):checked ~ .slider-content{
        transform: translateX(-100%);
    }
    .slider > input:nth-child(3):checked ~ .slider-content{
        transform: translateX(-200%);
    }
    
    .slider > input:nth-child(4):checked ~ .slider-content{
        transform: translateX(-300%);
    }

    .foto{
        border-radius: 50%;
    }
    .article{
        width:100vw;
        height: 100vh;
        font-size:62.5%;
        overflow-x: hiden;
        font-family: 'Roboto', sans-serif;
        scroll-behavior: smooth;
        display: flex;
        
    }

    h2 {
     font-size: 2rem;
     position: center;
    }
    .container {
        display: grid;
        grid-template-columns: 100%;
        max-width: 980px;
        margin: 0 auto;
       }
      
       .card-description {
        background-color: #ecdbd4;
        flex-direction: column;
        align-items: center;
        padding:35px 40px;
        box-shadow: 6px 6px 10px #df744a;
      
       }
      